:root {
    --color-text: #757575;
    --color-h2-h3: #212121;
    --color-focus: #2196F3;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-text);
    font-size: 14px; 
}

/* Header & Footer */
.header {
    background-color: #FFFFFF;
}

.logo {
    color: var(--color-focus);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo {
    color: #000000;
}

.footer-logo {
    color: #FFFFFF;
}

.nav,
.nav-auth,
.ul-adress,
.feature-list,
.promo-list,
.team-list,
.filter,
.portfolio-list {
    list-style-type: none;
}

.nav-list {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-h2-h3);
    text-decoration: none;
}

.nav-list:hover,
.nav-list:focus,
.mail.nav-list:hover,
.mail.nav-list:focus,
.adress:hover,
.adress:focus,
.transparency.adress:hover,
.transparency.adress:focus {
    color: var(--color-focus);
}

.nav-list.current {
    color: var(--color-focus);
}

.mail.nav-list {
    color: var(--color-text);
}


/* Body */

.section-hero {
    background-color: #2F303A;
    text-align: center;
}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.button-hero {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    background-color: var(--color-focus);
    cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
    background-color:#188CE8; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-h2-h3);
}

.feature-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-h2-h3);
}

.team {
    background-color: #F5F4FA;
}

.team-item {
    background-color: #FFFFFF;
}

.team-decor,
.portfolio-decor {
    text-decoration: none;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-h2-h3);
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
}


/* Portfolio */

.filter .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-h2-h3);
    background-color:#F5F4FA;
    cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
    color: #FFFFFF;
    background-color: var(--color-focus);
}

.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-company {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-h2-h3);
}

.portfolio-desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text);
}


/* Only Footer */

.footer {
    background-color: #2F303A;
}

.adress {
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
font-style: normal;
}

.transparency.adress {
color: rgba(255, 255, 255, 0.6);
}
